<div>
    <div class="row">
        <div class="col-md-12 dbui-page-header">
          <!--<img src="home/logo.jpg">-->
          <h3>{{perspective.title}}</h3>
        </div>
    </div>
    
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 dbui-panel">
            <!--<div ui-calendar="calendarConfig" ng-model="eventSources"></div>-->
            <div ng-show="loading" style="font-size:1.75em"><i class="fa fa-spinner fa-spin"></i> Loading</div>
            <div id="mainCalendar"></div>
            
        </div>
        <!--<div class="col-md-4 dbui-panel" style="margin-left:15px" ng-show="selectedObj">-->
        <!--    <div class="workshop-summary" ng-click="showWorkshop()">-->
        <!--        <div class="workshop-summary-head" ng-class="selectedWorkshop.level+'-event'">-->
        <!--            {{levelLabels[selectedWorkshop.level]}} @{{selectedWorkshop.location._disp}}-->
        <!--        </div>-->
        <!--        <div style="overflow-wrap:anywhere">-->
        <!--            <span>{{selectedWorkshop.summary}}</span>-->
        <!--        </div>-->
        <!--        <div class="workshop-summary-dates">-->
        <!--            <span ng-repeat="d in selectedWorkshop.dates">{{d | date}}<br> </span>-->
        <!--        </div>-->
        <!--        <div class="workshop-summary-body">-->
        <!--            <div><span>Reported By:</span> <span style="font-weight:bold">{{selectedWorkshop.reported_by.nickname || selectedWorkshop.reported_by.avp_name}}</span></div>-->
        <!--            <div><span>Language:</span> <span>{{languageLabels[selectedWorkshop.language]}}</span></div>-->
        <!--            <div><span>Age Group:</span> <span>{{agegroupLabels[selectedWorkshop.age_group]}}</span></div>-->
        <!--            <div ng-show="selectedWorkshop.commentary" style="border-top:solid 1px lightgrey; padding-top:5px">{{selectedWorkshop.commentary}}</div>-->
        <!--        </div>-->
        <!--    </div>-->
            
        <!--</div>-->
    </div>
    
</div>